.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-form {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    position: fixed;
    align-items: center;
  }

  .backbutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; 
    top: 10px;
    left: 10px;
    width: 80px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .error {
    color: red;
  }
  
  .link {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
  }
  